{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div id="signin-div" class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign In" %}</h3>

            <p id="blag">{% blocktrans %}Welcome back blagger. Want to blag or vote, please log in. If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>
        </div>
    </div>
    <div class="row">
        <div id="signin-box" class="col-md-8 mt-3 h-60 offset-md-2 border border-left-0">
            <form class="d-flex flex-column login position-relative" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <p><button class="btn btn-outline-dark end-20 h-20 w-15 mt-3 position-absolute start-0 mb-2 border p-2" id="signin-btn" type="submit" style="height: 4rem;
                    width: 8rem;">{% trans "Sign In" %}</button></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}