{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Delete Post" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Delete Post" %}</h3>

            <p>{% trans 'Are you sure you want to delete this post?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="{% url 'news:post_delete' post.slug %}">
                {% csrf_token %}
                <button class="btn btn-danger btn-lg border right" type="submit">{% trans 'Delete Post' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}